.Download_file_popUp_cont{
    background-color: white;
    width: 800px;
    height: 347px;
    position: relative;
    top: -560px;
    border-radius: 12px;
    z-index: 3;
    margin: 0 auto;
    display: block;
}

.popUp_Cancel{
    position: relative;
    top: 10px;
    left: 18px;
    cursor: pointer;
    z-index: 5;
}

.top_img{
    width: 80px;
    height: 80px;
    position: absolute;
    top: -40px;
    background-color: white;
    left: 346px;
    box-shadow: 1px 1px 10px #b754d7c4;
    border-radius: 8px;
    background-image: url(./../assets/Downloads\ Folder.png);
    background-repeat: no-repeat;
    background-size: 78px;
}

.Download_file_popUp_text{
    color: #043b98;
    font-size: 48px;
    text-align: center;
    margin-top: 21px;
    font-family: 'Aduma';
}

.Download_file_popUp_subtext{
    direction: rtl;
    color: #043b98;
    margin-top: 17px;
    font-size: 20px;
    text-align: center;
}

.div_cont{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 47px;
    margin-top: 29px;
}

.img_not_robot{
    width: 18px;
    margin-right: 14px;
}

.btn_cont{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

.btn_approve{
    background: linear-gradient(45deg, #9C27B0, #03A9F4 );
    width: 200px;
    height: 34px;
    border: 0px;
    border-radius: 22px;
    color:white;
    font-family: 'Aduma';
    font-size: 20px;
    cursor: pointer;
}

.cancel_bnt{
    width: 150px;
    height: 35px;
    border: 1px solid #043b98;
    background-color: transparent;
    border-radius: 20px;
    color: #043b98;
    font-family: 'Aduma';
    font-size: 20px;
    cursor: pointer;
}
